body {
}

.pageContain {
    table-layout: fixed;
    display: table;
    min-height: 768px;
    height: 100%;
    width: 100%;
}

    .pageContain .TopNav {
        display:table-cell;
        width:100%;
        min-height:80px;
        background-color:#808080;
        float:left;
    }

     .pageContain .TopNav .LogoArea{
        width:240px;
        background-color:#aeaeae;
        background-color: #947A6D;
        padding-left:15px;
    }

    .pageContain .Menu {
        display: table-cell;
        width: 240px;
        position: relative;
        vertical-align: top;
        background-color: #947A6D;
        padding: 10px;
        float:left;
    }

    .pageContain .MainContent {
        display: table-cell;
        width: 100%;
        position: relative;
        padding: 10px;
    }
